.formation img {
    height: 30px;
}
.formation__formation1__oclock__container-nom {
    display: flex;
    align-items: center;
    padding: 5px;
}

.formation__formation3, .formation__formation2, .formation__formation1 {
    margin-bottom: 30px;
}