@import '../../settings.scss';


::-webkit-scrollbar {
    background-color: transparent

}

.knowledges {
    text-align: justify;
    &__content {
        min-height: $minHeight;
        scrollbar-color: $black;
        max-height: 90vh;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60% 40% ;
        grid-template-areas: 
            "L E"
            "O O";
    }

    .formation, .experience, .skills-container {
        background: $color-1;
        padding: 0.8rem;
        border-radius: $borderRadius;
        margin: 0.3rem;
        @include blur(#137BCF);

    }
    h2 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
       
        font-family: $font-2;
        color: $color-4;
        text-transform: uppercase;
    }

    h5 {
        padding-left: 10px;
        font-weight: 800;
    }

    .experience {
        grid-area: E;
        overflow-y: scroll;
        li {
            list-style-type: circle;
            margin-left: 20px;
        }
        &__formation2__mines:first-child {
            font-weight: 800;
        }

    }
    .formation {
        grid-area: L;
        overflow-y: scroll;
        //padding: 0.8rem;
        li {
            list-style-type: circle;
            margin-left: 20px;
        }
       

        

    }

    .skills {
        padding-top: 0.5rem;

        li {
            color: $color-5;            
        }
        .progressBar {
            background: transparent;
            border-radius: 50px;
            position: relative;
            //margin-top: $internalGutter;
            margin-bottom: $internalGutter;

            

            &:after {
                content: '';
                position: absolute;
                background: $color-4;
                border-radius: 50px;
                height: 0.4rem;
                width: 0;
                animation: line 2s ease-out forwards;

                @keyframes line {
                    to {
                        width: 100%;
                    }
                    
                }

            }
        }
    }


    .framework-list {
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-areas: "E F";
       grid-area: H;
       &-1 {
        grid-area: E ;
       }
    }
    .years {
        font-size: .65rem;
        display: flex;
        justify-content: space-between;
        margin-top: $internalGutter;

        span {
            width: 36%;
            &:nth-child(2) {
                text-align: right;
                width: 20%;
            }
            &:nth-child(3) {
                text-align: right;
                width: 44%;
            }
            &:nth-child(2):before,
            &:nth-child(3):before {
                content: '';
                background: rgba(180,179,179,0.5);
                position: absolute;
                height: 250px;
                width: 1px;
                transform: translate(9px, 19px);
            }
        }
    }


}
.skills-container {
    grid-area: O;
    display: grid;
    grid-template-rows: 40% 1fr;
    grid-template-columns: 50% 1fr;
    grid-template-areas: 
        "I J"
        "I K";

    .skills {
        grid-area: I;
        margin-right: $externalGutter;

        .languages-list img {
            height: 25px;
        }
    }
    .otherskills__frameworks {
        grid-area: J;
        margin-bottom: $externalGutter;
        padding-top: 0.5rem;
    }
    .otherskills_profil {
        grid-area: K;
    }
}

@media screen and (max-width: 600px) {
    .knowledges {
        font-size: 0.7rem;
    }    
    .languages-list img {
        width: 0px;
        height: 0px;
    }

    .progressBar {
        margin-bottom: 0px;
    }
}