@import url("https://use.typekit.net/jmk3xov.css");
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: whitesmoke;
  position: absolute;
  width: 100%; 
  margin: 0px auto;
  padding: 0.5rem 0px;
  overflow: hidden;
  font-size: 1.5rem;
}

#main-container {
  width: 40vw;
}

header {
  display: flex;
  height: 20vw;
  flex-direction: column;
  justify-content: space-around;
  background: rgba( 36, 2, 112, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-size: 2rem;
  padding: 2rem;
  margin-left: 2.5rem;
  margin-bottom: 6rem;
}



blockquote {
  background: rgba( 36, 2, 112, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 30rem;
}

h3{
  /* font-family: elevon, sans-serif; */
  font-weight: 800;
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 3rem;
} 

#scroll-down {
  position: fixed;
  bottom: 1rem;
  right: 50%;
  color: whitesmoke;
  font-size: 1em;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 0.5rem;
}

section {
  background: rgba( 36, 2, 112, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1.5rem;
  margin-bottom: 30rem;
}

.school {
  display: flex;
  justify-content: space-between;
}